.md-typeset .md-typeset__scrollwrap,
.md-typeset .md-typeset__table {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: table;
}

.md-typeset table:not([class]) {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: auto;
}

.md-typeset .md-typeset__scrollwrap {
  overflow-x: auto;
}